body {
    font-family: Arial;
    background: url('https://images.unsplash.com/photo-1557683304-673a23048d34') no-repeat center/cover;
    backdrop-filter: blur(15px);
    transition: 0.3s;
}

body.dark {
    background: #111;
    color: white;
}

.box {
    width: 500px;
    margin: 40px auto;
    padding: 25px;
    background: rgba(255,255,255,0.2);
    border-radius: 15px;
    backdrop-filter: blur(20px);
}
